<%= form_with(model: tarifa, local: true) do |form| %>
  <% if tarifa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarifa.errors.count, "error") %> prohibited this tarifa from being saved:</h2>

      <ul>
      <% tarifa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class='row'>
      <div class='col-xs-60'>

        <div class="field">
        <div class="form-group">
          <div class="control-label col-sm-60">
        <%= form.label :usuario %>
        <div class="col-sm-60">
        <%= form.text_field :usuario, class:"form-control", placeholder: "Nombre de usuario", autofocus: true %>
      </div>
     </div>

      <div class="field">
        <div class="form-group">
          <div class="control-label col-sm-60">
        <%= form.label :plan %>
        <div class="col-sm-60">
        <%= form.text_field :plan, class: "form-control", placeholder: "Nombre de plan telcel" %>
        </div>
      </div>

      <div class="field">
        <div class="form-group">
          <div class="control-label col-sm-60">
        <%= form.label :tarifa %>
        <div class="col-sm-60">
        <%= form.text_field :tarifa, class: "form-control", placeholder:"ingresa la tarifa del mes" %>
      </div>
      </div>
      </div>


      <div class="field">
        <div class="form-group">
          <div class="control-label col-sm-60">
        <%= form.label :descripcion %>
        <div class="col-sm-60">
        <%= form.text_field :descripcion, class:"form-control", placeholder:"Ingresa serv. excedidos" %>
      </div>
      </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    </div>
</div>
