<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Registro Mensual</title>

  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <h1>Tarifas m</h1>
    <style>
#generalt {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#generalt td, #generalt th {
  border: 1px solid #ddd;
  padding: 8px;
}

#generalt tr:nth-child(even){background-color: #f2f2f2;}

#generalt tr:hover {background-color: #ddd;}

#generalt th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

    <table id="generalt">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Plan</th>
          <th>Tarifa</th>
          <th>Descripcion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tarifas.each do |tarifa| %>
          <tr>
            <td><%= tarifa.usuario %></td>
            <td><%= tarifa.plan %></td>
            <td><%= tarifa.tarifa %></td>
            <td><%= tarifa.descripcion %></td>
            <td><%= link_to 'Mostrar', tarifa %></td>
            <td><%= link_to 'Editar', edit_tarifa_path(tarifa) %></td>
            <td><%= link_to 'Borrar', tarifa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Registro', new_tarifa_path %>


  </body>
  <footer>v.05 KMRG</footer>
</html>
