<!DOCTYPE html>
<html>
  <head>
    <title>Telcelreg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %> <!-- aqui creamos la barra de navegacion que siempre estara disponible en el documento HTML-->

    <%= yield %>
  </body>
</html>
